/* preloader */
@keyframes preloader {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
  .preloader {
    width: 100%;
    height: 100vh;
    position: fixed;
    transition: 2s all;
    opacity: 1;
    visibility: visible;
    background: #fff;
    z-index: 5;
  }
  #loader {
    background: #fff;
    width: 100px;
    height: 100px;
    border-bottom: 5px solid #555;
    border-right: 2px solid #666;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: preloader 2s infinite linear; 
  }
  .hidden {
    opacity: 0;
    visibility: hidden;
  }

/* content */

.username::before {
    content: 'Имя пользователя: ';
    font-size: 0.7em;
}

.description::before {
    content:'Описание профиля: ';
    font-weight: bold;
}
#date {
  position: absolute;
  left: 10px;
  bottom: 30px;
  max-width: 460px;
}
#date:before {
  content: 'Дата и время запроса: ';
  font-weight: bold;
}